{% extends 'site_base.html' %}
{% load user %}
{% load artifacts %}
{% load i18n %}
{% block scripts %}
<script type="text/javascript" language="JavaScript">
    $(document).ready(function (){
        $(document).everyTime(15000, reload_activity);
    });
</script>
{% endblock %}
{% block content %}
    <div id="wall-container">
        <h2>{% trans 'Activity' %}</h2>
        <div id="wall">
            {% include 'activity/stream.html' %}
        </div>
        <div id="wall-navigation">
        {% if activity.has_previous %}
            <a href="{% url wouso.interface.views.homepage %}"> &raquo; </a>
        {% endif %}

        {% if activity.has_next %}
            <a href="{% url wouso.interface.views.homepage page=activity.next_page_number %}"> &laquo;</a>
        {% endif %}
        </div>
   </div>
{% endblock %}
