<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cdl.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:icon="@drawable/androidicon"
        android:label="@string/app_name" >
        <activity
            android:name="cdl.android.ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name=".ui.search.SearchActivity">
        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
        <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
     	</activity>
         <activity
            android:name=".ui.main.AuthorizeActivity">
         </activity>
        <activity 
            android:name=".ui.questionoftheday.QuestionOfTheDayActivity"
            android:label="Question of the Day">
        </activity>
        <activity android:name=".ui.bazaar.Bazaar" >
        </activity>
        <activity android:name=".ui.bazaar.Exchange" >
        </activity>
        <activity android:name=".ui.bazaar.Summary" >
        </activity>
        <activity android:name=".ui.challenge.ActiveChallenge" >
        </activity>
        <activity android:name=".ui.bazaar.BazaarTabs" >
        </activity>
        <activity android:name=".ui.user.UserProfile" >
        </activity>
        <activity android:name=".ui.map.GroupsMap">
        </activity>
        <activity android:name=".ui.message.MessageTabs" >
        </activity>
        <activity android:name=".ui.message.Received" >
        </activity>
        <activity android:name=".ui.message.Sent" >
        </activity>
        <activity android:name=".ui.message.ReadMessageReceived" >
        </activity>
        <activity android:name=".ui.message.ReadMessageSent">    
        </activity>
        <activity android:name=".ui.message.All" >
        </activity>
        <activity android:name=".ui.message.CreateMessage" >
        </activity>
        <activity android:name="cdl.android.ui.user.OtherProfile" >
        </activity>
        <activity android:name="cdl.android.ui.user.OtherMessage" >
        </activity>
        <activity android:name="cdl.android.ui.map.Race">
        </activity>
        <activity android:name="cdl.android.ui.map.DisplayGroup">   
        </activity>
	<activity android:name=".ui.tops.Tops" >
	</activity>
        <activity android:name="cdl.android.ui.map.GroupView">
        </activity>
        <activity
            android:name="cdl.android.ui.main.Profile"
          >
          <!--    android:screenOrientation="portrait" > -->
        </activity>
        <activity android:name=".ui.challenge.menu.ChallengeMenu" >
        </activity>
         <meta-data 
     			android:name="android.app.default_searchable"
     			android:value=".ui.search.SearchActivity" />
        <provider android:name=".ui.search.UserProvider"
                  android:authorities="cdl.android.ui.search.UserProvider" />
    </application>

</manifest>
