{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<title>{{ config_title }}</title>
		<link href="/static/themes/{{ config_theme }}/styles.css" media="screen" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div class="wrapper not-found">
			<div class="spacer">
				<!-- -->
			</div><!-- .spacer -->

			<a href="/" id="logo-large"></a>

			<div class="spacer">
				<!-- -->
			</div><!-- .spacer -->

			<h1><b>Felicitari.</b> Te-ai ratacit.</h1>

			<p>
				Pagina accesată nu există sau s-a întâmplat ceva oribil.
			</p>

			<a href="http://rosedu.org/" id="logo-rosedu" target="_blank"></a>

			<div id="shattered-glass-1">
				<!-- -->
			</div><!-- #shattered-glass-1 -->

			<div id="shattered-glass-2">
				<!-- -->
			</div><!-- #shattered-glass-2 -->
		</div><!-- .wrapper .login -->
	</body>
</html>
