{% load user %}
{% load artifacts %}
{% load i18n %}

<!doctype html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<title>
			{% block title %}
				{{ config_title }}
			{% endblock %}
		</title>
		<link href="{{ basepath }}/static/css/contactbox.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="{{ basepath }}/static/themes/{{ config_theme }}/library/css/normalize.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="{{ basepath }}/static/themes/{{ config_theme }}/styles.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="{{ basepath }}/static/themes/{{ config_theme }}/library/css/default.css" media="screen" rel="stylesheet" type="text/css" />
		<style type="text/css">
			@import url("{{ basepath }}/static/themes/xperia/library/css/autocomplete.css");

			{% if config_logo %}
				div#logo {
					background : transparent url({{ config_logo }}) no-repeat;
				}
			{% endif %}
			{% block css %}{% endblock %}
		</style>
        <!--
        <script src="{{ basepath }}/static/themes/xperia/library/js/jquery.js"></script>
        -->
        <script src="{{ basepath }}/static/js/jquery.js"></script>
        {% if user.is_authenticated %}
            {% if not config_disable_contactbox %}
            <script src="{{ basepath }}{{ basepath }}/static/js/contactbox.js"></script>
            {% endif %}
        {% endif %}
        {% block scripts %}{% endblock %}
        <link href="{{ basepath }}/static/themes/xperia/library/css/tabs.css" media="screen" rel="stylesheet" type="text/css" />
	</head>

	<body>
        {% block contactbox %}
        {% include 'interface/contactbox.html' %}
        {% endblock %}

        <div class="wrapper page">
			<div class="spacer-small">
				<!-- -->
			</div><!-- .spacer-small -->

			<div id="header" class="center">
				<div id="header-left">
					<a href="{% url homepage %}" id="header-logo" title="{{ config_title }}"></a>
				</div><!-- #header-left -->

				<div id="header-right">
					<!--<div id="header-top-links">


						{% if user.is_authenticated %}
                            <a href="{% url logout_view %}" id="header-logout">{% trans 'Logout' %}</a>

							{% if perms.config.change_setting %}
								<a href="{% url dashboard %}" id="header-control-panel">Panou de control</a>
							{% endif %}

                            {% if not config_disable_chat %}
                               <a href="{% url chat_home %}" id="header-chat">{% trans 'Chat' %}</a>
                            {% endif %}

						{% else %}
							<a href="{% url login_view %}" id="header-login">{% trans 'Login' %}</a>
						{% endif %}

						<div class="clear">
							<!-- -->
						<!-- </div><!-- .clear -->
					</div><!-- #header-top-links -->

					<div id="header-content">

                        {% if user.real_user %}
                        <p>Impersonated by {{ user.real_user }} <a href="{% url impersonate_clear %}">clear</a></p>
                        {% endif %}

						{% block search %}
							<div id="header-search">
								<form action="{{ basepath }}/search/" method="post">
									<input id="query" name="query" type="text" value="{{ search_query }}"/>
									<input id="button-search" type="submit" value="{% trans 'Search' %}" />

									<div class="clear">
										<!-- -->
									</div><!-- .clear -->
								</form>
							</div><!-- #header-search -->
						{% endblock %}

						<h1 id="nickname" data-nickname="{{player.nickname}}">{{player.nickname}}@woso:~$<span class='blink' contenteditable>_</span></h1>
						<div id="output"></div>
						<ul id="header-menu" class="top-navigation">
							{% if user.is_authenticated %}
							<li>Hello {% player player %}</li>
							{% endif %}
                            <li><a href="{% url homepage %}">{% trans 'Home' %}</a></li>
							{% for h in heads %}
								<li>
									<a href="{{ h.0.link }}" id="{{ h.1 }}">{{ h.0.text }}{% if h.0.count %}<span class="menu-notification">{{ h.0.count }}</span>{% endif %}</a>
								</li>
							{% endfor %}

							{% if user.is_authenticated %}
                            <li><a href="{% url logout_view %}" id="header-logout">{% trans 'Logout' %}</a></li>

							{% if perms.config.change_setting %}
								<li><a href="{% url dashboard %}" id="header-control-panel">Panou de control</a></li>
							{% endif %}

                            {% if not config_disable_chat %}
                               <li><a href="{% url chat_home %}" id="header-chat">{% trans 'Chat' %}</a></li>
                            {% endif %}

							{% else %}
								<li><a href="{% url login_view %}" id="header-login">{% trans 'Login' %}</a></li>
							{% endif %}

							<div class="clear">
								<!-- -->
							</div><!-- .clear -->
						</ul><!-- #header-menu -->

						<div id="header-player">
							<div id="player-stats">
								{% if user.is_authenticated %}
									<div id="player-stats-blur">
										<div class="progress-bar">
											<p class="progress-bar-info">{{ player.level_progress.points_left|floatformat:0 }} {% trans 'until next level' %}</p>
											<div class="progress" style="width : {{ player.level_progress.percent|floatformat }}%;">
												<!-- -->
											</div><!-- .progress-bar-value -->
										</div><!-- .progress-bar -->

										<p>
											[{{ player.level.title }}]
											[Points <span class="player-points">{{ player.points|floatformat:0 }}</span>]
											[Karma Points <span class="player-karma">{{ player.coins.karma }}</span>]
										</p>


									</div><!-- #player-stats-blur -->

									<div class="scroll-pane" id="player-stats-focus">
										<p>
                                            {% if player.top.position %}
											<b>{% trans 'Your rank' %}</b>

											{% for g in topgroups %}
												<br />
												{% player_group g %}: {{ g.position }}
											{% endfor %}
                                            <br/>
											    {% trans 'Global' %}: {{ player.top.position }}
                                            {% else %}
                                                <b>{% trans 'Groups' %}</b>
                                                <br/>
                                                {% for g in player.groups.all %}
                                                    {% player_group g %}
                                                {% endfor %}
                                            {% endif %}
										</p>

										{% if player.magic.artifact_amounts.all %}
											<div class="spacer">
												<!-- -->
											</div><!-- .spacer -->

											<p>
												<b>{% trans 'Artifacts' %}</b>
												<br />
												{% for a in player.magic.artifact_amounts.all %}
													{% artifact a %}
												{% empty %}
													{% trans 'None.' %}
												{% endfor %}
											</p>
										{% endif %}

										{% if not config_disable_Magic %}
											{% if player.magic.spell_amounts.all %}
												<div class="spacer">
													<!-- -->
												</div><!-- .spacer -->

												<b>{% trans 'Spells' %}</b>
												<br />
												{% for s in player.magic.spell_amounts.all %}
													{% artifact s %}
												{% empty %}
													{% trans 'None.' %}
												{% endfor %}
											{% endif %}

											{% if player.magic.spells_cast or player.magic.spells %}
												<div class="clear spacer-small">
													<!-- -->
												</div><!-- .clear spacer-small -->

												<a href="{% url magic_summary %}">{% trans 'Summary' %}</a>
											{% endif %}
										{% endif %}
									</div><!-- .scroll-pane #player-stats-focus -->
								{% else %}
									<div id="player-stats-anonimous">
										<span class="player">{% trans 'Anonimous' %}</span>
									</div><!-- #player-stats-anonimous -->
								{% endif %}
							</div><!-- #player-stats -->

							<div id="player-avatar">
								{% if user.is_authenticated %}
									<div id="gravatar" style="background-image : url({% player_avatar player %}&s=96&d=http://wouso.eftimie.ro/static/themes/blackout/library/images/avatar.jpg);">
										<a href="{% url player_profile player.id %}" id="avatar-overlay"></a>
									</div><!-- #gravatar -->
								{% else %}
									<div id="gravatar">
										<a href="javascript:void(0);" id="avatar-overlay"></a>
									</div><!-- #gravatar -->
								{% endif %}
							</div><!-- #player-avatar -->

							<div class="clear">
								<!-- -->
							</div><!-- .clear -->
						</div><!-- #header-player -->

						<div class="clear">
							<!-- -->
						</div><!-- .clear -->
					</div><!-- #header-content -->
				</div><!-- #header-right -->

				<div class="clear">
					<!-- -->
				</div><!-- .clear -->
			</div><!-- #header -->

			<div class="spacer">
				<!-- -->
			</div><!-- .spacer -->

			<div id="content-top">
				<!-- -->
			</div><!-- #content-top -->

			<div id="content-middle" class="center">
				<div id="sidebar">
					{% block sidebar %}
						{% for w in sidebar %}
							{{ w }}
						{% endfor %}
					{% endblock %}
				</div><!-- #sidebar -->

				<div id="content">
					<div id="ajax-message">
						{% if message %}
							<p class="ok">{{ message }}</p>
						{% endif %}

						{% if error %}
							<p class="wrong">{{ error }}</p>
						{% endif %}
                       {% if messages %}
                       <ul class="messages">
                           {% for message in messages %}
                           <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                           {% endfor %}
                       </ul>
                       {% endif %}
					</div><!-- #ajax-message -->

					{% block content %}
					{% endblock %}
				</div><!-- #content -->

				<div class="clear">
					<!-- -->
				</div><!-- .clear -->
			</div><!-- #content-middle -->

			<div id="content-bottom">
				<!-- -->
			</div><!-- #content-bottom -->

			<div class="spacer">
				<!-- -->
			</div><!-- .spacer -->
		</div><!-- .wrapper .page -->

		<div id="footer">
			<div id="footer-content">
				<div class="footer-content-left">
					{% autoescape off %}
						{{ footer|join:" | " }}
					{% endautoescape %}
				</div><!-- .footer-content-left -->

				<div class="footer-content-right">
					<a href="http://rosedu.org/" id="logo-rosedu" target="_blank"></a>
				</div><!-- .footer-content-right -->

				<div class="footer-content-right">
					<span> Powered by: </span> <a href="http://rosedu.org" title="Romanian Open Source education">ROSEdu</a>
				</div><!-- .footer-content-right -->

                {% autoescape off %}
              		{{ config_hidden_footer }}
                {% endautoescape %}

				<div class="clear">
					<!-- -->
				</div><!-- .clear -->
			</div><!-- #footer-content -->
		</div><!-- #footer -->
		<script src="{{ basepath }}/static/themes/xperia/library/js/script.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#query').autocomplete('{{ basepath }}/instantsearch/', {
					minChars : 3,
					matchSubset : 1,
					matchContains : 1,
					cacheLength : 10,
					formatItem : formatItem,
					onItemSelect : selectItem,
					selectOnly : 1
				});
			});
        // contactbox ...
        var myID = '{{player.id}}'
        var myName = '{{player.nickname}}'
		</script>
        <!-- does not work properly
		<script src="{{ basepath }}/static/themes/{{ config_theme }}/library/js/jquery.autocomplete.js"></script>
		-->
		<script src="{{ basepath }}/static/js/jquery.autocomplete.js"></script>
		<script src="{{ basepath }}/static/js/format.item.js"></script>
        <script type="text/javascript">
            var url_base = '{{ basepath }}';
        </script>
	</body>
</html>