body {
	background: black;
	color:green;
}

.center {
	width:80%;
	margin:0 auto;
}

.ac_input {
	background: #222;
	border: 1px dashed green;
	padding: .5em;
}

.top-navigation {
	border-bottom: 1px dashed;
	padding: 16px 0;
	border-top: 1px dashed;
}

.top-navigation li {
	list-style:none;
	display:inline-block;
}

	.top-navigation li:after {
		content:" // ";
	}

		.top-navigation li a {
			text-decoration: none;
			color:#00FF16;
			border-bottom: 1px solid #007F0B;
		}