body {
	background: black;
	color:green;
}

.center {
	width:80%;
	margin:0 auto;
}

.top-navigation li {
	list-style:none;
	display:inline-block;
}

	.top-navigation li:after {
		content:" // ";
	}

		.top-navigation li a {
			color:#00FF16;
			border-bottom: 1px solid #007F0B;
		}