html, head {
	height:100%;
}

body {
	background: black;
	color:green;
  	font-family:courier;
  	background:#222;
}

h2 {
	margin:0;
}

.center {
	width:80%;
	margin:0 auto;
    
	height: 100%;
	height:100%;
}

.ac_input {
	background: #222;
	border: 1px dashed green;
	padding: .5em;
}

.top-navigation {
	border-bottom: 1px dashed;
	padding: 16px 0;
	border-top: 1px dashed;
}

.top-navigation li {
	list-style:none;
	display:inline-block;
}

	.top-navigation li:after {
		content:" // ";
	}

		a {
			text-decoration: none;
			color:#00FF16;
			border-bottom: 1px solid #007F0B;
		}

.top-navigation li a:hover {
	background:#00FF16;
  	color:#333;
}

#sidebar {
	width:26%;
  	height:100%;
	float:left;
  	border-right:1px dashed green;
  	min-height:500px;
  margin-right:3%;
}

.avatar {
	display:none;
}


#footer {
	width:80%;
  	margin:2em auto;
  padding-top:1em;
    border-top:1px dashed green;
}

#header-search {
	float:right;
}

.top-navigation li:hover a {
  	-webkit-transform:rotateX(90deg);
}

#header-content h1 span {
  	-webkit-animation:.8s blink step-end infinite;
  	-webkit-transition-duration:1s;
}

@-webkit-keyframes blink {
  50% {
  	opacity:1;
  }
  from, to {
  	opacity:0;
  }
}

.activity-stream li {
	list-style: none;
  	margin: .1em;
}

#header-player {
	border-bottom:1px dashed green;
  	margin-bottom:1em;
}