{% extends base_template %}

{% load i18n %}

{% block title %}{% trans 'Question of the Day' %}{% endblock %}

{% block content %}
	<div class="section">
		<h2>{% trans 'Question' %}</h2>

		<div class="section-content">
			{% if question %}
				{% autoescape off %}
					<p>{{ question.text }}</p>

					<div class="spacer">
						<!-- -->
					</div><!-- .spacer -->

					<div class="answers">
						<ul>
							{% for a in question.answers %}
								<li {% ifequal a choice %}class={% if a.correct %}"ok"{% else %}"wrong"{% endif %}{% endifequal %}>
									<input type=radio disabled {% ifequal a choice %}checked{% endifequal %} id="qotd_a_{{a.id}}" />
									<label for="qotd_a_{{a.id}}" class="{% ifequal a choice %}bold{% endifequal %}">{% if a.correct %}[{% trans 'correct' %}] {% endif %}{{ a.text }}</label>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endautoescape %}
			{% else %}
				{% trans 'No question for today.' %}
			{% endif %}
		</div><!-- .section-content -->
	</div><!-- .section -->
{% endblock %}