{% extends base_template %}
{% load artifacts %}
{% load user %}
{% load i18n %}

{% block title %}{% trans 'Magic summary' %}{% endblock %}

{% block content %}
	<div class="section">
		<h2>{% trans 'Magic summary' %}</h2>

		<div class="section-content">
			<b>{% trans 'Available' %}</b>

			<div class="spacer-small">
				<!-- -->
			</div><!-- .spacer-small -->

			{% if theowner.spell_amounts.all %}
				<table cellpadding="0" cellspacing="0" class="custom" width="100%">
					<tr>
						<th>{% trans 'Spell' %}</th>
						<th>{% trans 'Amount' %}</th>
					</tr>
					{% for s in theowner.spell_amounts.all %}
						<tr>
							<td>{% artifact s.spell %} {{ s.spell.title }}</td>
							<td align="right">{% spell_stock theowner s.spell %}</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				{% trans 'None.' %}
			{% endif %}

			{% if theowner.spells.all %}
				<div class="spacer">
					<!-- -->
				</div><!-- .spacer -->

				<b>{% trans 'Active on me' %}</b>

				<div class="spacer-small">
					<!-- -->
				</div><!-- .spacer-small -->

				<table cellpadding="0" cellspacing="0" class="custom" width="100%">
					<tr>
						<th>{% trans 'Spell' %}</th>
						<th>{% trans 'Source' %}</th>
						<th>{% trans 'Until' %}</th>
					</tr>
					{% for s in theowner.spells.all %}
						<tr>
							<td>{% artifact s.spell %} {{ s.spell.title }}</td>
							<td>{% player_simple s.source %}</td>
							<td>{{ s.due }}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}

			{% if theowner.spells_cast.all %}
				<div class="spacer">
					<!-- -->
				</div><!-- .spacer -->

				<b>{% trans 'Cast by me' %}</b>

				<div class="spacer-small">
					<!-- -->
				</div><!-- .spacer-small -->

				<table cellpadding="0" cellspacing="0" class="custom" width="100%">
					<tr>
						<th>{% trans 'Spell' %}</th>
						<th>{% trans 'Target' %}</th>
						<th>{% trans 'Until' %}</th>
					</tr>
					{% for s in theowner.spells_cast.all %}
						<tr>
							<td>{% artifact s.spell %} {{ s.spell.title }}</td>
							<td>{% player_simple s.player %}</td>
							<td>{{ s.due }}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
		</div><!-- .section-content -->
	</div><!-- .section -->
{% endblock %}